<form [formGroup]="registerForm " (ngSubmit)="register()">
    <div class="u-form-group">
        <input formControlName="name" type="text" placeholder="Name" minlength="6"/>
    
        <p *ngIf=" registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['required']" class=" alert alert-warning" role="alert">
            you must tipe name
        </p>
        <p *ngIf=" registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['minlength']">
            value input
            {{registerForm.controls.name.errors?.['minlength'].actualLength}}
            the charectrer long
            {{registerForm.controls.name.errors?.['minlength'].requiredLength}}
            charectrer long
        </p>
        <p>
            You must enter the required number of characters
        </p>
    </div>
    <div class="u-form-group">
        <input formControlName="email" type="email" placeholder="Email" />
    </div>
    <div class="u-form-group">
        <input formControlName="password" type="password" placeholder="Password" />
    </div>
    <div class="u-form-group">
        <input formControlName="confirm" type="password" placeholder="Confirm Password" />
    </div>
    <div class="u-form-group">
        <button [disabled]="registerForm.invalid" class="btn btn-primary">Sign Up</button>
    </div>
</form>