<form [formGroup]="registerForm " (ngSubmit)="register()">
    <div class="u-form-group">
        <input formControlName="name" type="text" placeholder="Name"  minlength="3"/>
        <!--<p *ngIf="registerForm.controls.name.errors?.required">
            no
        </p>
        <p *ngIf="registerForm.controls.name.errors?.minLength.actuallenght">
            oh
        </p>
        <p *ngIf="registerForm.controls.name.errors?.minLength.requiredlenght">
            You must enter the required number of characters
        </p>-->
    </div>
    <div class="u-form-group">
        <input formControlName="email" type="email" placeholder="Email" />
    </div>
    <div class="u-form-group">
        <input formControlName="password" type="password" placeholder="Password" />
    </div>
    <div class="u-form-group">
        <input formControlName="confirm" type="password" placeholder="Confirm Password" />
    </div>
    <div class="u-form-group">
        <button [disabled]="registerForm.invalid" class="btn btn-primary">Sign Up</button>
    </div>
</form>